{% extends 'base.html' %}

    {% block content %}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 innovative">
                    <h3 class="mb-4">We Are Innovative</h3>
                    <p>We are currently working on Web Development Application for tracking time sheet, office automation and project management of product life cycle. And also we are working on domains like Multi Level Marketing,Transport Management, Jewellery, Retail and School Management System in various places Clientes.
                    We are also providing HR Consulting services like Recruitement support, Entity setup and Support, Startup support from hiring, technology support, Building MVP/MMP, Software architecture and Training staffs in Technical and Non-Technical. </p>

                    <p>Our professionals are qualified in every specific domain to carry out the task with utmost quality.
                    Our key technical staff are internationally trained and certified in their areas of expertise. At IT Solutions we try to build long-term sustainable relationships with our customers and suppliers.</p>
                </div>
                <div class="divx">
                    <img class="hillx" src="/static/hill.png" alt="image">
                    <img class="hilly" src="/static/logo2.png" alt="image2">
                    <img class="hillxy" src="/static/logo3.png" alt="image3">
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="container">
            <div class="section-divider"></div>
            <h2 class="mb-4">About Us</h2>
            <h4>Why our clients love to work with us</h4>
            <div class="section-divider"></div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 innovative">
                    <p>SNIPE TECH PVT LTD Company formerly known as SNIPE IT SOLUTIONS established in 2009 is a pioneer in providing world Class Consulting Services in Enterprise Solutions for the Technology Solutions covering Embedded Systems and System Software to its Global Clientele.</p>
                    <p>Snipe Tech, is a professional, who provides expert advice in a particular domain or area of expertise such as IT.</p>
                    <p>SNIPE Tech is a Company known for various services such as Software Development, corporate training and for Hardware and Networking solutions. This is Indian based company stationed at Bengaluru.</p>
                    <p>It was established by Govindappa P D, who is a proprietor and well known for various administrative services having experience of 25 years.</p>
                    <p>We believe in customer delight and discipline. we assure you as this is the right company to choice for various services.</p>
                </div>
                <div class="divx">
                    <img class="hillx" id="inog" src="/static/images/image3.jpg" alt="image">
                </div>
                <div class="section-divider"></div>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.852237129435!2d77.55128567473466!3d12.981301187334989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d8f8622b807%3A0x8407511188a9ed06!2sSnipe%20Tech%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1685709927835!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
